body {
    background-color: #e89862;
    
}

.receipt {
    font-size: 20px;
    color: #fff
    text-align: center;
}

h1 {
    width: 100%;
    height: 400px;
    margin: auto;
    font-size: 32px;
    color: #fff;
    background-color: #b8b8b8;
    background-blend-mode: multiply;
    background-image: url(https://github.com/KieranFergus/JoesHotdogs/blob/main/glizzy.jpg?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
}
